@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700&display=swap');

body{
    background-color: black;
    overflow-x: hidden;
}

/*-------------Scroll-Bar-------------*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#dd0f92c7,#9843cac9); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#dd0f91,#9943ca);
}

/*---------------Scroll-Bar end--------------*/

.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

/* -------------Navbar------------ */

nav{
    box-shadow: 0px 0px 20px #ffffff8c;
    position: fixed;
    width: 100%;
}

.navbar{
    padding: 1rem 0;
    
}

.navbar .navbar-nav{
    margin-left: auto;
}

#nav li a{
    text-align: center;
}

#nav li a:hover{
    color: #e2b82d !important;
}

nav button.btn:hover, #home button:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#navbarSupportedContent{
    text-align: center;
}

/* --------------Home-------------- */
#home{
    /* background-image: url('img/fluid316\ -\ Copy\ [Converted]-02.png'); */
    background-color: #12141600;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;
    overflow: hidden;
}

#home .container{
    height: 100vh;
    width: 100vw;
    /* position: absolute; */
    transform: perspective(400px) rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .bg{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg1{
    background-image: url('img/bg-03.png');
    z-index: -1;
    transform: translateZ(250px) scale(0.45);
    pointer-events: none;
}
.bg2{
    background-image: url('img/bg-04.png');
    z-index: -2;
    transform: translateZ(50px) scale(1);
    backdrop-filter: blur(2px);
}
.bg3{
    background-image: url('img/bg-02.png');
    z-index: -3;
    transform: translateZ(-100px) scale(1.5);
}
/* .bg4{
    background-image: url('img/fluid316\ -\ Copy\ [Converted]-01.jpg');
    z-index: -4;
    transform: translateZ(-500px) scale(2.5);
} */

/* #home .col-md-6 img{
    width: 75%;
} */

#home .row{
    padding: 8vh 0;
    transform: translateZ(80px) scale(0.8);
    text-align: center;
}

#home .col-md-6{
    text-align: center;
}

#home h1{
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 6rem;
    text-shadow: 0px 0px 20px gold;
    backdrop-filter: blur(5px);
}

#home p{
    color: #d8d8d8;
    padding: 30px 0;
    font-size: 1.5rem;
}


/* ------------About------------- */

#about{
    position: relative;
    overflow: hidden;
    background-color: black;
    min-height: 100vh;
}

#about .bg{
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 400px;
    z-index: 0;
    color: #161616;
    user-select: none;
}

#about .col-md-6 img{
    width: 100%;
    box-shadow: 0px 5px 5px #ffffff8c, 0px 15px 30px #ffffff52;
    border-radius: 15px;
    transform: rotate3d(0, 5, 5, 350deg);
}

#about .head{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    height: 20vh;
    margin-bottom: 110px;
    position: relative;
}

#about .head h2{
    font-size: 3.5rem;
}

#about .head h2 span{
    color: darkorange;
}

#about hr{
    height: 10px;
    width: 20%;
}

#about .col-md-6.desc{
    position: relative;
    padding-left: 50px;
}

#about .col-md-6 p{
    font-size: 1.5rem;
}

#about .white-dots{
    position: absolute;
    height: 140px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    top: 580px;
    right: 100px;
}

#about .white-dots div{
    height: 15px;
    width: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
}


/* --------------Reg-------------- */

#reg{
    position: relative;
    background-color: #141414;
    padding: 20px;
}

#reg .lines{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reg .lines div{
    height: 250px;
    width: 5px;
    background-color: blue;
    box-shadow: 0 0 50px blue;
    border-radius: 10px;
    margin: 15px;
}

.l1{
    animation: anim 2s 0s ease-in-out infinite, hue 5s linear infinite;
}

.l2{
    animation: anim 2s 0.4s ease-in-out infinite, hue 5s linear infinite;
}

.l3{
    animation: anim 2s 0.8s ease-in-out infinite, hue 5s linear infinite;
}

#lines1{
    top: 10%;
    right: 100px;
}

#lines2{
    bottom: 10%;
    left: 100px;
}

@keyframes anim{
    from, to{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-25px);
    }
}

@keyframes hue{
    from, to{
        filter: hue-rotate(0deg);
    }

    50%{
        filter: hue-rotate(100deg);
    }
}

/* -------------Footer------------- */

footer{
    background-color: black;
}

footer .row{
    padding: 20px 0;
    text-align: center;
}

footer img{
    width: 250px;
    padding: 20px;
}

footer ul{
    padding: 20px;
    margin: 0;
}

/* ------------Media queries------------ */
@media screen and (max-width: 450px){
    #home button{
        margin-bottom: 10px;
    }

    #about .head h2{
        font-size: 2.5rem;
    }

    #about .col-md-6 p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 575px){
    footer .col-sm-6{
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px){
    #home .col-md-6{
        padding: 20px 1.5rem;
    }

    #home h1{
        font-size: 3.5rem;
    }

    #home p{
        font-size: 1rem;
    }

    #about .row{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #about .bg{
        display: none;
    }

    #about .white-dots{
        display: none;
    }

    #about .head{
        margin-bottom: 50px;
    }

    #about .container .row{
        padding-bottom: 50px;
    }

    #about .col-md-6.desc{
        margin-top: 50px;
        padding-left: 0;
    }
}

@media screen and (max-width: 1200px){
    #lines1{
        right: 20px;
    }
    
    #lines2{
        left: 20px;
    }
}

@media screen and (max-width: 1000px){
    #reg #lines1{
        display: none;
    }
    
    #reg #lines2{
        display: none;
    }
}